.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    font-size: 34px;
    width: auto;
    border: 5px solid #244624;
    border-radius: 21px;
    height: 65px;
    width: 456px;
}
button{
    font-size: 40px;
    background-color: rgb(243, 59, 89);
    width: 102px;
    height: 58px;
    border-radius: 20px;
    cursor: pointer;
    height: 90px;
    margin: 6px;
}
button:hover{
    opacity: 0.9;
}
.dark-mode{
    background-color: black;
    color: white;
}
.calculator{
    background-color: #a2f3b4;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    border: 4px solid #13695d;
}
#erase{
    width: auto;
}
.btn{
    background-color: rgb(117, 117, 189);
}
.btn-other{
    background-color: rgb(243, 171, 83);
}
.dark{
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    height: 45px;
    width: 120px;
    background-color: black;
    color: white;
}
.dark:hover{
    background-color: white;
    color: black;
}


